name: Firmware Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release
  # Pico-SDK v1.5.0
  PICO_SDK_REF: f396d05f8252d4670d4ea05c8b7ac938ef0cd381

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        fanpico_board: ["0804", "0804D"]
        pico_board: ["pico", "pico_w"]
    
    steps:
    - name: Arm GNU Toolchain (arm-none-eabi-gcc)
      uses: carlosperate/arm-none-eabi-gcc-action@v1
       
    - name: Cache Pico-SDK
      id: cache-pico-sdk
      uses: actions/cache@v3
      with:
        path: pico-sdk
        key: ${{runner.os}}-pico-sdk-${{env.PICO_SDK_REF}}
    
    - if: ${{steps.cache-pico-sdk.outputs.cache-hit != 'true' }}
      name: Checkout Pico-SDK
      uses: actions/checkout@v3
      with:
        repository: raspberrypi/pico-sdk
        ref: ${{env.PICO_SDK_REF}}
        path: pico-sdk
        submodules: true
        
    - name: Add PICO_SDK_PATH to Environment
      run: |
        echo "PICO_SDK_PATH=${{github.workspace}}/pico-sdk" >> $GITHUB_ENV

    - name: Checkout
      uses: actions/checkout@v3
      with:
        path: main
        submodules: true
    
    - name: Configure CMake
      run: cmake -S main -B ${{github.workspace}}/main/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DPICO_BOARD=${{matrix.pico_board}} -DFANPICO_BOARD=${{matrix.fanpico_board}}

    - name: Build
      run: cmake --build ${{github.workspace}}/main/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/main/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: |
        ls -l fanpico.*
        sha256sum fanpico.uf2

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: fanpico-firmware-${{matrix.fanpico_board}}-${{matrix.pico_board}}
        path: |
          main/build/fanpico.uf2
          main/build/fanpico.elf
          main/build/fanpico.elf.map
          
